<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-8 mb-8">
  <div class="mx-8 my-8">
<!--    {{createPost.prestene | json}}-->
    <form #createPost="ngForm">
      <p>
        <input required  mat-form-field matInput placeholder="Title"  [(ngModel)]="title" name="title" #titleNg="ngModel"/>
      </p>
      <p *ngIf="titleNg.invalid && (titleNg.dirty || titleNg.touched)">
        <span class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          {{titleNg.errors?.['required']&& 'Required'}}
        </span>
      </p>
      <p>
        <textarea required  mat-form-field placeholder="Content" [(ngModel)]="content" name="content" #contentNg="ngModel"></textarea>
      </p>
      <p *ngIf="contentNg.invalid && (contentNg.dirty || contentNg.touched)">
        <span class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          {{contentNg.errors?.['required']&& 'Required'}}
        </span>
      </p>
      <p>
        <label for="file">Choose Image</label>
        <input required appFileValidation type="file" id="file" (change)="selectedFile($event)" name="image" [(ngModel)]="file1" #fileNg="ngModel"/>
      </p>
      <p *ngIf="fileNg.invalid && (fileNg.dirty || fileNg.touched)">
        <span class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          {{fileNg.errors?.['file_required']&& 'Required'}}
        </span>
      </p>
      <div>
        <app-tags (newTagAddEvent)="getTags($event)"></app-tags>
        {{tags | json}}
      </div>
      <p>
        <button
          class=" submit-button group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          href="#" mat-button color="primary" (click)="submitPost()" [disabled]="createPost.invalid">Save
        </button>
      </p>
    </form>
  </div>
</div>

