<div class="max-w-xs max-w-sm max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-8 mb-8 sm:max-w-sm">
  <div class="md:shrink-0">
    <app-post-menu [post]="post" class="card-menu"></app-post-menu>
    <img class="h-full w-full object-cover md:h-full md:w-full"
         src="{{post.image || 'https://material.angular.io/assets/img/examples/shiba2.jpg'}}"
         alt="Modern building architecture">
  </div>
  <div class="p-12">
    <div
      class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{post.author_first_name + ' ' + post.author_last_name}}</div>
    <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{post.title}}</a>
    <p>{{post.date | date:'shortDate'}}</p>
    <p class="mt-2 text-slate-500">{{post.content}}</p>
  </div>
</div>
