.example-spacer {
  flex: 1 1 auto;
}
.example-header-image {
  width: 30px;
  height: auto;
  background-size: cover;
}
.example-icon {
  margin: 10px;
}

.account-image {
  display: flex;
  justify-content: center;
  align-items: last baseline;
}
