<div>
  <mat-toolbar color="primary">
    <span><button color="primary" class="example-icon favorite-icon"
                  aria-label="Example icon-button with heart icon" routerLink="/home">
      Blog
    </button></span>
    <div *ngIf="user?._id !=null " class="flex items-center justify-end w-full">
      <span class="example-spacer"></span>
      <button color="primary" class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon" routerLink="/home">
        Home
      </button>
      <button color="primary" class="example-icon" aria-label="Example icon-button with share icon" routerLink="/create">
        Create
      </button>
      <div mat-card-avatar [matMenuTriggerFor]="menu" class="account-image">
        <img [src]="avatar" class="w-10 h-10 rounded-full account-image-img"/>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Account</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
